<% if admin_signed_in? %>
	<h1>Hi Mam!</h1>
<% else %>
	<div class="hero-unit">
		<h1>환영합니다</h1>
		<br/>
		<p>
			당신의 진정한 사업 파트너가 되어 드리겠습니다. <br/>
			쿠웨이트 아리랑 하우스<br/><br/>
			<button class="btn btn-large btn-primary" type="button">예약하기</button>
		</p>
	</div>

	<div class="row-fluid">
		<div class="span4">
			<h2>인사말</h2>
			<p>
				"안녕하세요. 저희 게스트 하우스는 쿠웨이트 한인 게스트 하우스의 최초이자 최고의 숙박 업체로써 여러분들의 최고의 Business 파트너가 되어 드리겠습니다. 저희 홈페이지에서는 단순한 숙박정보를 제공하는 것 이상으로 쿠웨이트 한인 커뮤니티의 인터넷 Link도 제공하고 있습니다."
			</p>
			<p>
				<a class="btn" href="#">View details</a>
			</p>
		</div>
		<div class="span4">
			<h2>서비스 안내</h2>
			<p>
				"로컬 호텔 숙박비가 부담이 되신다구요? 혹은 한국음식 없이 지낼 수 없으시다구요? 저희 아리랑 하우스에서는 집에서 만든 심식(한식)제공을 하오며, 세탁, 고속 인터넷 사용 가능등 여러분들이 지내시는데 불편함 없는 환경을 제공해 드리고 있습니다."
			</p>
			<p>
				<a class="btn" href="#">자세히 보기</a>
			</p>
		</div>
		<div class="span4">
			<h2>편의시설</h2>
			<p>
				"저희는 지하를 포함한 4층짜리 단독 주택을 이용하여 2인 객실 7개, 1인 독실 2개를 포함한 총 9개의 방으로 최대 16명까지 수용할 수 있습니다. 그리고 탁구, 당구, 무선 인터넷, 50여편의 VOD 영화등을 부대시설을 통해 즐거운 여가를 즐길 수 있습니다."
			</p>
			<p>
				<a class="btn" href="#">자세히 보기</a>
			</p>
		</div>
	</div>
	<hr>
<% end %>