<h1>예약요청 리스트</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>작성일</th>
      <th>성함</th>
      <th>제목</th>
      <th>내용</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <%= render @reservations %>
  </tbody>

</table>

<br />

<%= link_to 'New Reservation', new_reservation_path %>
