<div class="footer">
	<small>
		©2013, Kuwait Arirang-House <br/>
		email: kookhee54@hanmail.net, barty82@naver.com <br/>
		phone (Local): (+965), 9715-4872, phone (internet Phone): (+82) 070-7098-5671  <br/>
		CEO: 김재철, 관리자: 김현태	
	</small>
</div>