<div class="footer">
	<small>
		©2013, Kuwait Arirang-House, CEO: 김재철, 관리자: 김현태	 <br/>
		<b>email:</b> kookhee54@hanmail.net, barty82@naver.com / <b>phone (Local):</b> (+965), 9715-4872 / <b>phone (internet Phone):</b> (+82) 070-7098-5671  <br/>
		
	</small>
</div>